<div class="container-default" style="background:#ededed;padding: 0 20px;">
  <div class="row" style="width: 100%;">
    <div style="margin-left:40px;">
      <span style="font-size:24px;">Dependency Editor </span>
      <button class="btn btn-default" style="background-image:linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);border:1px solid #00659c;box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);border-radius:1px;width:78px;color:#fff;">Skip</button>
      <p>Some description of dependency editor</p>
    </div>
    <div class="row" style="margin-left:20px;">
      <div class="col-sm-8">        
        <div class="row" style="margin-top:20px;">
          <!-- <div class="col-sm-5"> -->
            <app-add-dependency [dependencies]="dependenciesAdded" [existDependencies]="dependencies" ></app-add-dependency>
          <!-- </div> -->
          <!-- <div class="col-sm-5"> -->
            <app-insights (companionAdded)="callDepServices($event)" [companions]="companions"></app-insights>
          <!-- </div> -->
          <!-- <div class="col-sm-2">
            <app-security [cveData]="cveData"></app-security>
            <div style="height: 23px"></div>
            <app-license [licenseData]="licenseData"></app-license>
          </div> -->
        </div>
      </div>
      <div class="col-sm-4">
        

        <app-current-project [dependencies]="dependencies" [licenseData]="licenseData" [allLicenses]="allLicenses" [cveData]="cveData"></app-current-project>
      </div>
      
    </div>
      <!-- <div style="margin: 30px 0;">
        <p style="font-size:14px;display: inline-block">Not sure about dependencies? Click to view the full list of dependencies</p>
        <button class="btn btn-default" style="background-image:linear-gradient(-180deg, #fafafa 0%, #ededed 100%);border:1px solid #bbbbbb;box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);border-radius:1px;margin-left: 10px;">
          <p style="font-size:14px;color:#4d5258;text-align:center;margin: 0;padding: 5px;">View dependency list</p>
        </button>
      </div>
      <div style="background-image:linear-gradient(90deg, rgba(255,255,255,0.00) 0%, #ffffff 26%, #ffffff 74%, rgba(255,255,255,0.00) 100%);width:1165px;height:73px;">
        <button class="btn btn-default" style="background-image:linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);color:#fff;border:1px solid #00659c;box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);border-radius:1px;width:41px;margin-top: 20px;margin-left: 493px;"
        (click)="showPreviewModal()">OK</button> -->
    <!-- <div style="margin-left: 20px;margin-top: 74px;">
      <p style="font-size:14px;">Not sure about dependencies? Click to view the full list of dependencies</p>
      <button class="btn btn-default" style="margin-left: 7px;background-image:linear-gradient(-180deg, #fafafa 0%, #ededed 100%);border:1px solid #bbbbbb;box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);border-radius:1px;width:173px;">
        <p (click)="viewList()" style="font-size:14px;color:#4d5258;text-align:center;">{{listView}}</p>
      </button>
    </div>
     <app-packages [showList]="showList"></app-packages>       -->
      <!-- <div class="panel-group" id="fixed-accordion" style="margin-left: 20px;margin-top: 74px;display: flex;height: 350px;">
          <div class="panel panel-default">
            <div class="panel-heading" data-component="collapse-heading">
              <h4 class="panel-title">
                <p style="font-size:14px;">Not sure about dependencies? Click to view the full list of dependencies</p>                  
                <a data-toggle="collapse" data-parent="#fixed-accordion" href="#fixedCollapseOne" style="margin-left: 7px;">
                    View dependency list
                </a>
              </h4>
            </div>
            <div id="fixedCollapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
              </div>
            </div>
          </div>
      </div> -->
    <div style="background-image:linear-gradient(90deg, rgba(255,255,255,0.00) 0%, #ffffff 26%, #ffffff 74%, rgba(255,255,255,0.00) 100%);width:1165px;height:73px;margin-top: 110px;">
      <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#dependencyPreview" (click)="showDependencyModal($event)"
        style="background-image:linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);color:#fff;border:1px solid #00659c;box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);border-radius:1px;width:41px;margin-top: 20px;margin-left: 493px;">OK</button>
      <span style="margin-top: 25px;position: absolute;margin-left: 9px;font-size:14px;color:#8b8d8f;">or press
        <strong>ENTER</strong>
      </span>
    </div>

      <modal #dependencyPreview modalClass="modal-lg modal-fullscreen modal-width-class" title="Dependency Editor Preview" role="dialog">
        <!-- <div style="font-family:OpenSans-Semibold;font-size:16px;color:#494949;"> -->
        <div class="modal-header" style="font-size: 20px;"></div>
        <modal-content class="content">
          <!-- <modal-header style="font-family:OpenSans-Semibold;font-size:24px;color:#494949;background:#ffffff;width:692px;height:33px;">
                Dependency Editor Preview
            </modal-header> -->
          <modal-content class="content-1">
            <!-- <div class="modal-header" > -->
            <div class="modal-title">
              Current Project
            </div>
            <!-- </div> -->
            <div class="modal-body" style="margin-top: 5px;">
              <div class="row">
                <div class="col-sm-6">
                  <p style="border: 1px solid;
                                width:50%;
                                height:58px;
                                background:#ffffff;
                                border:1px solid #bbbbbb;
                                box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0.08);
                                width:207px;
                                height:72px;">
                    <img style="height:54px;width:59px;padding-right:10px;padding-left:5px;margin-right: 25px;margin-bottom: -8px;" src="../../assets/images.png">
                    <span style="font-size:14px;color:#545b64;margin-right:50px">Wildfly</span>
                    <span style="font-size:12px;color:#545b64;margin-left: 82px">2017.9.5</span>
                  </p>
                </div>
                <div class="col-sm-6">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-4 meta">Group id</label>
                      <div class="col-sm-8" style="margin-left: -30px">
                        <p class="form-control">group</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 meta">Artifact id</label>
                      <div class="col-sm-8" style="margin-left: -30px">
                        <p class="form-control">aftifact</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 meta">Version</label>
                      <div class="col-sm-8" style="margin-left: -30px">
                        <p class="form-control">version</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-title" style="width:795px;height:22px">
              Total no. of dependencies
              <span class="total">{{(packageLength + addPackageLength)}}</span>
            </div>
            <div class="modal-body second-body" style="background:#ffffff;
                                                        border:1px solid #bbbbbb;
                                                        box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0.08);
                                                        width:795px;
                                                        height:574px;
                                                        margin-top: 20px;
                                                        margin-left: 16px;">
              <div class="row-heading"style="font-weight:600;">
                <span class="col-sm-4">Project Dependencies
                  <span class="project-dep">{{packageLength}}</span>
                </span>
                <span class="col-sm-6">Added Dependencies
                  <span class="add-dep">{{addPackageLength}}</span>
                </span>
              </div>
              <div class="row-body">
                <!-- <nav id="navbar-example2" class="navbar navbar-light bg-light"> -->
                <div class="col-sm-4 collapsein" style="font-size: 13px;
                                                          border-right:1px solid #bbbbbb;
                                                          height: 515px;
                                                          display: grid;
                                                          margin-top: 6px;">
                  <div class="list-group list-view-pf" style="border-bottom: none;">
                    <div class="list-view-pf-main-info" style="padding: 0px; margin-top: 16px;">
                      <div class="list-view-pf-body" id="style-1" style="display: block;;overflow-x:hidden;height:495px;">
                        <div class="list-group-item list-view-pf-stacked list-view-pf-top-align" style="border-bottom: 1px solid #ededed;
                                                                                                              margin: -4px;
                                                                                                              margin-bottom: 10px;
                                                                                                              padding-bottom: 10px;
                                                                                                              padding-top: 6px;">
                          <div class="list-view-pf-description" *ngFor="let dependency of dependencies" style="width: auto;margin-right: 15px;">
                            <span>{{dependency.package}}</span>
                          </div>
                          <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked" *ngFor="let dependency of dependencies">
                              {{dependency.version}}
                            </div>
                          </div>
                        </div>
                        <!-- <div class="list-group-item list-view-pf-stacked list-view-pf-top-align" style="border-bottom: 1px solid #ededed;
                                                                                                              margin: -4px;
                                                                                                              margin-bottom: 10px;
                                                                                                              padding-bottom: 10px;
                                                                                                              padding-top: 6px;">
                          <div class="list-view-pf-description" style="width: auto;margin-right: 15px;">
                            <span>dependency1</span>
                          </div>
                          <div class="list-view-pf-additional-info" style="width: auto;">
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                              version1
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" style="margin-left: 25px;">
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-main-info" style="margin-left: -20px;margin-bottom: -15px">
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading" style="font-family:OpenSans-Bold;font-size:12px;color:#545b64;">
                              companion.name
                            </div>
                          </div>
                          <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked" style="font-family:OpenSans;font-size:12px;color:#545b64;">
                              companion.version
                            </div>
                            <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked" style="margin-left: 48px">
                              <strong *ngIf="companion?.security?.length">
                                <span class="pficon-warning-triangle-o"></span>
                              </strong>
                              <strong *ngIf="!companion?.security?.length">
                                <span class="pficon-ok"></span>
                              </strong>
                              <span style="font-family:OpenSans;font-size:8px;color:#545b64;">Security</span>
                            </div>
                            <!-- <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                                    <strong>
                                      <span class="license-symbol"></span>
                                    </strong>
                                    <span style="font-family:OpenSans;font-size:8px;color:#545b64;">Lisence</span>
                                  </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- </nav> -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default foot-button-edit" (click)="closemodal()" data-dismiss="modal" style="width: 94px;height: 30px;">Edit</button>
              <button type="button" class="btn btn-info btn-lg foot-button-confirm" style="background-image: linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);width: 94px;">Confirm</button>
            </div>
          </modal-content>
        </modal-content>

        <!-- </div> -->
      </modal>

    </div>
  <!-- <modal #previewModal title="Dependency Editor Preview" modalClass="modal-lg modal-width-class">
    <modal-content>
      <div class="row">
        <div class="col-sm-12">
          Current Project
          <div class="row">
            <div class="col-sm-4">
              <p style="border: 1px solid;width:100%;height:58px;background:#ffffff;border:1px solid #bbbbbb;box-shadow:inset 0 2px 2px 0 rgba(0,0,0,0.08);height:72px;">
                <img style="height:54px;width:59px;padding-right:10px;padding-left:5px;margin-right: 25px;margin-bottom: -8px;" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Vert.x_Logo.svg">
                <span style="font-size:14px;color:#545b64;">Vert.x</span>
                <span style="font-size:12px;color:#545b64;margin-left: 82px">2017.9.5</span>
              </p>
            </div>
            <div class="col-sm-8">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-4">Group id</label>
                  <div class="col-sm-8" style="margin-left: -30px">
                    <p class="form-control">group</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">Artifact id</label>
                  <div class="col-sm-8" style="margin-left: -30px">
                    <p class="form-control">aftifact</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">Version</label>
                  <div class="col-sm-8" style="margin-left: -30px">
                    <p class="form-control">version</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">

        </div>
        <div class="col-sm-12">

        </div>
      </div>
    </modal-content>
  </modal> -->
</div>