<div class="cards-pf" style="box-shadow:0 1px 2px 0 rgba(0,0,0,0.30);background:#fff;height: 411px;">
  <div class="row">
    <div class="col-sm-12">
      <p style="font-size: 16px;padding: 15px;position: relative;background: #f5f5f5;margin: 0">
        <span class="pficon-zone"></span>
        <span style="margin-left: 5px;">Insights</span>
        <span style="margin-left:4px;">(1)</span>
        <span style="background-color:#f8a33a; padding: 6px 13px;color: #fff;position: absolute;top: 0;right: 0;height: 40px;width: 40px;">
          <i class="pficon-warning-triangle-o" aria-hidden="true" style="font-family:PatternFlyIcons-webfont;font-size:15px;color:#ffffff;"></i>
        </span>
      </p>
    </div>
    <div class="col-sm-12">
      <div class="card-pf-body" *ngIf="companions?.length">
        <app-list-element *ngFor="let companion of companions" [companion]="companion"></app-list-element>
        <!-- <app-list-element [package]="'Package 2'" [version]="'version 2'" [securityIssue]="'pficon-warning-triangle-o'" [licenseIssue]="'pficon-ok'"></app-list-element> -->
      </div>
      <div class="card-pf-body" *ngIf="!companions?.length">
        <div class="pre-loader">
          <div class="pre-loader-spinner spinner spinner-lg"></div>
        </div>
      </div>
    </div>
  </div>
</div>