<div class="application-summary">
  <div class="application-header">
    <h2>
      Your Application
    </h2>
  </div>
  <div class="application-body">
    <div class="application-content">
      <div class="app-top">
        <div class="col-xs-12">
          <div class="card-pf card-pf-view card-pf-view-xs">
            <div class="card-pf-body">
              <div class="row" style="text-align:center"> 
                <img style="height:32px;width:32px;padding-right:1px" src="https://raw.githubusercontent.com/ravsa/brainteaser/master/springboot.png">
                <strong style="font-size: 14px">SpringBoot CRUD</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card-pf card-pf-view card-pf-view-xs" *ngFor="let d of dep" style="margin-top: -10px">
            <div class="row" style="font-size: 12px">
              <strong>{{d.name}}</strong> | <span style="font-size:10px">{{d.latest_version}}</span>
              <!-- <div class="col-sm-0" style="float: right"><span class="pficon-remove"></span></div> -->
            </div>
          </div>
          <br>  
          <div *ngIf="dependencies">
            <div class="card-pf card-pf-view card-pf-view-xs" *ngFor="let d of dependencies.dependencies" style="margin-top: -10px;background-color:rgb(233, 232, 232)">
              <div class="row" style="font-size: 12px;">
                <strong>{{d.name}}</strong> | <span style="font-size:10px">{{d.latest_version}}</span>
                <!-- <div class="col-sm-1">{{d.name}}</div>
                  <div class="col-sm-3">|</div>                        
                  <div class="col-sm-3">{{d.latest_version}}</div> -->
                  <div class="col-sm-0" style="float: right"><span class="pficon-remove"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-bottom">
          <div class="app-head">
            <accordion>
            <accordion-group #grouped [isOpen]="true" [panelClass]="customClass" >
              <div accordion-heading>
                <div class="accordion-heading" accordion-heading>
                  <h2><i class="pull-left accordion-indicator float-xs-left"
                         [ngClass]="{'fa': true,'fa-sort-desc': grouped?.isOpen, 'fa-caret-right': !grouped?.isOpen}"></i>
                    Insights</h2>
                </div>
              </div>
              <div class="recommendation" >
                <div *ngIf="dependencies">
                  <div class="col-xs-12">
                    <div class="card-pf card-pf-view card-pf-view-xs"  *ngFor="let d of dependencies.companionPackages" style="margin-top: -10px">
                      <div class="row" style="font-size: 12px">          
                          <strong>{{d.name}}</strong> | <span style="font-size:10px">{{d.latest_version}}</span> <div style="float: right"> <span style="margin-left:10px;margin-right:-5px" class="fa fa-plus-square mon icon-b" (click)="addItem(d)"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!dependencies">
                <div class="col-xs-12" >
                  <div class="card-pf card-pf-view card-pf-view-xs"   *ngFor="let d of compDep" style="margin-top: -10px">
                    <div class="row" style="font-size: 12px">
                        <strong>{{d.name}}</strong>  |  <span style="font-size:10px">{{d.latest_version}}</span> <div style="float: right"> <span style="margin-left:10px;margin-right:-5px" class="fa fa-plus-square mon icon-b" (click)="addItem(d)"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            </accordion>
          </div>
          <div class="app-head">
            <accordion>
            <accordion-group #grouped1 [isOpen]="false" [panelClass]="customClass"  (click)="isSecurityIssue()">
              <div accordion-heading>
                <div class="accordion-heading" accordion-heading>
                  <i style="font-size:22px;font-weight:300;" class="pull-left accordion-indicator float-xs-left"
                                                             [ngClass]="{'fa': true, 'fa-caret-right': !grouped1?.isOpen, 'fa-sort-desc': grouped1?.isOpen}"></i>
                  <div><span style="font-size:22px;font-weight:300"> Security Alerts </span>  <span *ngIf="cve" style="font-size:16px;color:red"> {{cve}}</span>
                  </div>
                </div>
              </div>
              <div class="security" *ngIf="isSecurityIssueVar">
                <div class="card-pf card-pf-view card-pf-view-xs"  style="margin-top: -10px">
                  <div class="row" style="font-size: 12px">
                    <strong>{{isSecurityIssueVar}}</strong>
                    <button id="but" style="margin:3px;float:right;" href="#" (click)="moreInfo()">More info</button>
                  </div>
                </div>
              </div>
            </accordion-group>
            </accordion>
          </div>
          <div class="app-head">
            <accordion>
            <accordion-group #grouped2 [isOpen]="true" [panelClass]="customClass">
              <div accordion-heading>
                <div class="accordion-heading" accordion-heading>
                  <h2><i class="pull-left accordion-indicator float-xs-left"
                         [ngClass]="{'fa': true,'fa-sort-desc': grouped2?.isOpen, 'fa-caret-right': !grouped2?.isOpen}"></i>
                    Licenses</h2>
                </div>
              </div>
              <div class="liscence">
                <span style="margin-left:2px"> Stack Level Licence(s):  {{rel}}</span>
                <div class="row">
                  <f8-chart id="chart" [data]="charts['data']" [chartOptions]="charts['options']" bind-configs="charts['configs']"></f8-chart>
                </div>
              </div>
            </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
