<div class="application-summary">
  <div class="application-header" style="margin-left:20px;">
    <h2>
      Your Application
    </h2>
  </div>
  <div class="application-body">
    <div class="application-content">
      <div class="app-top" style="margin-top:15px;">
        <div class="col-xs-12">
          <div class="card-pf card-pf-view card-pf-view-xs">
            <div class="card-pf-body">
              <div class="row" style="text-align:center;">
                <div *ngIf="ecosystem=='node'">
                  <img style="height:32px;width:32px;padding-right:1px" src={{iconImage}}>
                  <strong style="font-size: 14px;">{{title}}</strong>
                </div>
                <div *ngIf="ecosystem=='maven'">
                  <img style="height:32px;width:32px;padding-right:1px" src={{iconImage}}>
                  <strong style="font-size: 14px">{{title}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-top">
        <div class="col-xs-12">
          <div class="application-header">
            <div class="card-pf card-pf-view card-pf-view-xs" *ngFor="let d of dep" style="margin-top: -10px">
              <div class="row" style="font-size: 12px">
                <div style="float:left;padding-left:5px;">
                  <span style="color:#b9b6b6;;float:left;" *ngIf="d.packageType=='runtime'"> {{runTimeIcon}} </span>
                  <span style="color:#b9b6b6;;float:left;" *ngIf="d.packageType=='test'"> {{testIcon}} </span>
                </div>
                <div style="padding-left:0px;">
                  <strong>
                    <span style="width:auto;float:left;padding-left:8px;">{{d.name}}</span>
                  </strong>
                  <div style="float:right;">
                    <span style="width: auto;float:right;padding-right:10px;">{{d.latest_version}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-xs-12">
          <div class="application-header">
            <div *ngIf="dependencies">
              <div class="card-pf card-pf-view card-pf-view-xs" *ngFor="let d of dependencies.dependencies" style="margin-top: -10px;background-color:rgb(233, 232, 232)">
                <div class="row" style="font-size: 12px;">
                  <div style="float:left;padding-left:5px;">
                    <span style="color:#b9b6b6;;float:left;" *ngIf="d.packageType=='runtime'"> {{runTimeIcon}} </span>
                    <span style="color:#b9b6b6;;float:left;" *ngIf="d.packageType=='test'"> {{testIcon}} </span>
                  </div>
                  <div style="padding-left:0px;">
                    <strong>
                      <span style="width:auto;float:left;padding-left:15px;padding-right:8px;">{{d.name}}</span>
                    </strong>
                    <div style="float:right;">
                      <div style="float:right">
                        <span style=" width: auto;float:left;padding-left:8px;padding-right:10px;">{{d.latest_version}}
                        </span>
                        <span class="pficon-remove" style="float: right;padding-right:5px;padding-top:5px;" (click)="removeItem(d)">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card-pf card-pf-view card-pf-view-xs" *ngFor="let d of selectedComp" style="margin-top: -10px;background-color:rgb(233, 232, 232)">
                <div class="row" style="font-size: 12px;">
                  <div style="float:left;padding-left:5px;">
                    <span style="color:#b9b6b6;;float:left;" *ngIf="d.packageType=='runtime'"> {{runTimeIcon}} </span>
                    <span style="color:#b9b6b6;;float:left;" *ngIf="d.packageType=='test'"> {{testIcon}} </span>
                  </div>
                  <div style="padding-left:0px;">
                    <strong>
                      <span style="width:auto;float:left;padding-left:15px;padding-right:8px;">{{d.name}}</span>
                    </strong>
                    <div style="float:right;">
                      <div style="float:right">
                        <span style=" width: auto;float:left;padding-left:8px;padding-right:10px;">{{d.latest_version}}
                        </span>
                        <span class="pficon-remove" style="float: right;padding-right:5px;padding-top:5px;" (click)="removeItem(d)">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="app-bottom">
          <div class="insights">
            <accordion>
              <accordion-group #grouped [isOpen]="true" style="padding:0px;">
                <div accordion-heading>
                  <div accordion-heading>
                    <h2>
                      <i class="pull-left accordion-indicator float-xs-left" [ngClass]="{'fa': true,'fa-angle-down': grouped?.isOpen, 'fa-angle-right': !grouped?.isOpen}"></i>
                      Insights</h2>
                  </div>
                </div>
                <div>
                  <div>
                    <div class="col-xs-12">
                      <div class="card-pf card-pf-view card-pf-view-xs" *ngFor="let d of compDep" style="margin-top: -10px;padding: 0px;">
                        <div class="row" style="font-size: 12px">
                          <div style="float:left;padding-left:1px;padding-right:6px;">
                            <span style="color:#b9b6b6;float:left;" *ngIf="d.packageType=='runtime'"> {{runTimeIcon}} </span>
                            <span style="color:#b9b6b6;float:left;" *ngIf="d.packageType=='test'"> {{testIcon}} </span>
                          </div>
                          <div style="float:left;">
                            <strong>{{d.name}}</strong>
                          </div>
                          <div style="float:right;">
                            <div style="float:right;">
                              <div style="float:right">
                                <span style=" width: auto;float:left;padding-right:5px">{{d.latest_version}}</span>
                                <div style="float: right">
                                  <span style="padding-top:5px;" style="color:#00A1C0" class="fa fa-plus-square mon icon-b" (click)="addItem(d)"></span>
                                  <span class="pficon-remove" style="float: right;padding-left:5px;padding-top:3px;"></span>
                                  <!-- <span style="float:right;padding-top:5px;" style="color:red" class="fa fa-times-circle mon icon-b" (click)="addItem(d)"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>







                    <div class="col-xs-12" id='infoDiv' *ngIf="isOpen" [style.height.px]="infoDivHeight">
                      <div class="card-pf card-pf-view card-pf-view-xs" style="margin-top: -10px;padding: 0px;">
                        <div class="row" style="font-size: 12px;" [style.height.px]="infoDivHeight">
                          <div>
                            <div [innerHTML]="infoText">
                            </div>
                            <div>
                              <button style="float:left" class="rec-button-gray"><span style="margin-bottom:20px" (click)="moreInfoInsight()">more</span></button>
                              <div style="float:right">
                                <button style="float:left"  class="rec-button-blue"><span class="btn-text" (click)="addItemInsight()">accept</span></button>
                                <button style="float:right"  class="rec-button-gray"><span class="btn-text" (click)="removeItemInsight()">decline</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>












                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
          <div class="app-bottom security">
            <accordion>
              <accordion-group #grouped1 [isOpen]="false" [panelClass]="customClass" (click)="isSecurityIssue()">
                <div accordion-heading>
                  <div class="accordion-heading" accordion-heading>
                    <i style="font-size:22px;font-weight:300;" class="pull-left accordion-indicator float-xs-left" [ngClass]="{'fa': true, 'fa-angle-right': !grouped1?.isOpen, 'fa-angle-down': grouped1?.isOpen}"></i>
                    <div>
                      <span style="font-size:22px;font-weight:300"> Security Alerts </span>
                      <span *ngIf="cve" class='security-numbers' style="font-size:14px;margin-left:20px"> {{cve}}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="isSecurityIssueVar" style="width:90%; margin-left:20px">
                  <div class="card-pf card-pf-view card-pf-view-xs">
                    <div class="row" style="font-size: 12px">
                      <strong>{{isSecurityIssueVar}}</strong>
                      <button id="but" style="float:right;" href="#" (click)="cveDesc()">More info</button>
                    </div>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
          <div class="app-head">
            <accordion>
              <accordion-group #grouped2 [isOpen]="true" [panelClass]="customClass">
                <div accordion-heading>
                  <div class="accordion-heading" accordion-heading>
                    <h2>
                      <i class="pull-left accordion-indicator float-xs-left" [ngClass]="{'fa': true,'fa-angle-down': grouped2?.isOpen, 'fa-angle-right': !grouped2?.isOpen}"></i>
                      Licenses</h2>
                  </div>
                </div>
                <div class="liscence">
                  <div>
                    <span style="margin-left:2px"> Stack Level Licence(s):
                      <span style="font-weight: bold">{{stackLevelLicense}}</span>
                    </span>
                  </div>
                  <div class="row">
                    <f8-chart id="chart" [data]="charts['data']" [chartOptions]="charts['options']" bind-configs="charts['configs']" style="left: 0px"></f8-chart>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>