.search-box {
    padding: 0 15px;
    .dropdown-menu {
        cursor: pointer;
        display: block;
        position: relative;
        width: 100%;
        li a {
            border-bottom: 1px solid #ededed;
        }
    }
}

.card-pf-aggregate-status-notifications {
    text-align: center;
}