<div style="background:#ededed;">
      <div class="cards-pf" style="border:1px solid #dddddd;box-shadow:0 1px 2px 0 rgba(0,0,0,0.30);margin-left: 20px;width:466px;height:413px;position: relative;top: -433px;background:#f5f5f5;">
        <div class="container-fluid container-cards-pf">
          <div style="display:flex;">
            <p style="font-size: 16px; padding-left:20px;">Add Dependencies
              <span style="margin-left:4px;">(0)</span>
            </p>
          </div>
          <div class="row row-cards-pf">
            <div class="card-pf card-pf-accented card-pf-aggregate-status" style="height: 340px;width: 464px;margin-left:-20px;border-top:none;margin-top:15px;padding-top: 15px;">
              <h2 class="card-pf-title">
                <!-- <span class="fa fa-shield"></span>
            <span class="card-pf-aggregate-status-count">0</span> Ipsum -->
                <div id="date-2" class="input-group date">
                  <input type="text" class="form-control bootstrap-datepicker">
                  <span class="input-group-addon">
                    <span class="pficon-search"></span>
                  </span>
                </div>
              </h2>
              <div class="card-pf-body">
                <p class="card-pf-aggregate-status-notifications">
                  <span class="card-pf-aggregate-status-notification" style="display:inline-grid;">
                    <!-- <a class="add" > -->
                    <span class="pficon pficon-add-circle-o" style="font-family:PatternFlyIcons-webfont;font-size:58px;color:#9c9c9c;text-align:center;"></span>
                    <!-- </a> -->
                    <span style="padding-top:17px;">Dependency Added</span>
                  </span>
                </p>
                <p style="padding-top:18px;">
                  You can add dependencies either by searching or by going to 'choose dependencies' section by clicking 'View Dependency List'
                </p>
                <p>OR</p>
                <p>
                  You can choose to add dependenciec mentioned in the insights section.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>