.search-box {
    .dropdown-menu {
        cursor: pointer;
        display: block;
        position: relative;
        width: 100%;
        li a {
            border-bottom: 1px solid #ededed;
        }
    }
}