
<div class="secure" style="width:0px;">

  <issue [issue_name] = "'Security Alert'" [issue_symbol] = "'fa fa-shield'" [issue_status] = "'00'" >
    <!-- <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="card-pf-accented card-pf-aggregate-status" style="border-top-color: white;">
          <h2 class="card-pf-title" style="position:relative;left:18px;right:22px">
            <span class="" style="margin:5px;"></span>Security Alert
          </h2>
          <h2>
            <span class="card-pf-aggregate-status-count" style="color:#0088ce;position:relative;left:65px;right:65px">00</span>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status">
              <span class="card-pf-aggregate-status-notification" style="position:relative;left:25px;top:42px;">
                <a href="#" class="links" style="font-size:10px">
                  Click here to know more
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </issue>
  <div class="cards-pf" style="background:#ffffff;border:1px solid #6ca100;box-shadow:0 1px 2px 0 rgba(0,0,0,0.30);width:356px;height:229px;margin-left:20px;">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <!-- <div class="card-pf"> -->
          <div class="card-pf-heading" style="background:#6ca100;width:354.5px;height:46px;position: relative;top: -61px;left: -20px;">
            <h2 class="card-pf-title" style="font-family:OpenSans-Semibold;font-size:16px;color:#ffffff;">
              <span class="fa fa-shield" style="margin:5px;font-family:FontAwesome;font-size:16px;color:#ffffff;"></span>Security Alert
            </h2>
            <!-- <div class="list-view-pf-expand">
                  <span class="fa fa-angle-right"></span>
              </div> -->
         </div>
          <div class="card-pf-body">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

