<div class="chat-window-container ">
  <div class="chat-window" [class.sidenav]="!isOpen">
    <div class="panel-container">
      <div class="panel panel-default">
        <div class="top-bar"  (click)="toggleChatBox()" [class.panel-heading-close]="!isOpen"  [class.panel-heading-open]="isOpen" >
          <div class="panel-title-container">
            <h3 class="panel-title">
              <!-- <span class="glyphicon glyphicon-comment" style="margin-right:5px"></span> -->
              <img src="https://raw.githubusercontent.com/ravsa/brainteaser/master/bot.png" style="display:inline;margin-right:5px;width:32px;height:32px;" alt="">
              <span style="color: #0a95fb">Assistant</span><span class="glyphicon glyphicon-minus-sign chat-minimize" *ngIf="isOpen" ></span>
              
            </h3>
          </div>
          <div class="panel-buttons-container">
          </div>
        </div>
        <div *ngIf="isOpen">
          <div class="panel-body msg-container-base">
            <chat-message *ngFor="let message of messages | async" [message]="message">
            </chat-message>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input type="text" class="chat-input" placeholder="Write your message here..." (keydown.enter)="onEnter($event)" [(ngModel)]="draftMessage.text" />
              <span class="input-group-btn">
                <button class="btn btn-primary" (click)="onEnter($event)" style="background-color: #fff;height:30px"><i class="fa fa-paper-plane" aria-hidden="true" style="font-size:18px;color:#0a95fb"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>