<div style="width:0px;">


  <!-- license -->


  <issue [issue_name] = "'License'" [issue_symbol] = "'fa fa-file-text-o'" [issue_status] = "'BSD'" >
    <!-- <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class=" card-pf-accented card-pf-aggregate-status" style="border-top-color: white;">
          <h2 class="card-pf-title" style="position:relative;left:28px;right:22px;">
            <span class="" style="margin:5px;"></span>License
          </h2>
          <h2>
            <span class="card-pf-aggregate-status-count" style="color:#0088ce;position:relative;left:65px;right:65px">00</span>
          </h2>
          <div class="card-pf-body">
            <p class="card-pf-aggregate-status">
              <span class="card-pf-aggregate-status-notification" style="position:relative;left:25px;top:42px;">
                <a href="#" class="links" style="font-size:10px">Click here to know more</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </issue>
  <!-- </div> -->

  <alert-box [alert_title] = "'License'" [issue_status] = "'BSD'" [colored] = "'#6ca100'" [issue_symbol] = "'fa fa-file-text-o'" [secure_issue]="false" *ngIf="secure_issue"></alert-box>
  
</div>