<div class="row">
  <div class="col-sm-12" style="">
    <div class="license">
      <!-- <app-issue [issueName]="title" [issueSymbol]="icon" [issueStatus]="stackLicense" [responseReady]="responseReady" [hasIssue]="hasIssue" (notifyParent)="getShow($event)">
      </app-issue> -->
      <app-alert-box [title]="title" [issueStatus]="stackLicense" [issueType]="'(Stack Level)'" [licolor]="'#0088ce'" [colored]="'#f8a33a'" [issueSymbol]="icon" [hasIssue]="hasIssue"  [licenseAll]="licenseAll" [licenseIssue]="licenseIssue" [liData]="liData" [charts]="charts"><!-- *ngIf="hasIssue"><!-- [toShow]="toHave"-->
      </app-alert-box>
    </div>
  </div>
</div>