<div class="cards-pf" style="box-shadow:0 1px 2px 0 rgba(0,0,0,0.30);background:#fff;height: 460px;">
  <div class="row">
    <div class="col-sm-12">
      <p style="font-size: 16px;padding: 15px; background: #f5f5f5; margin: 0">
        <span>Dependencies</span>
        <span style="margin-left:4px;" *ngIf="dependencies">({{ existDependencies?.length+dependencies?.length }})</span>
      </p>
    </div>
    <div class="col-sm-12">
      <div class="card-pf" style="width: 100%;margin-left: 0px;border-top: none;padding: 0;margin-bottom: 0;box-shadow: none">
        <h2 class="card-pf-title search-box">
          <span style="font-size:12px;">You can add dependencies either by searching or by browsing the list of dependencies</span>
          <div class="row" style="padding-top:3px;margin-left: auto;display: flex;">
            <div id="date-2" class="input-group date col-sm-8">
              <input type="text" class="form-control bootstrap-datepicker" [(ngModel)]="dependencySearchString" (change)="listenInputSearch()">
              <span class="input-group-addon" (click)="getDependencies()" style="cursor: pointer">
                <span class="pficon-search"></span>
              </span>
            </div>

            <div class="pre-loader" *ngIf="isLoading">
              <div class="pre-loader-spinner spinner"></div>
            </div>
            <ul class="dropdown-menu" *ngIf="dependencySearchResult?.length">
              <li *ngFor="let dep of dependencySearchResult">
                <a (click)="addDependency(dep)">
                  <div>
                    <b>{{ dep.name }}</b>
                  </div>
                  <div>{{ dep.version }}</div>
                </a>
              </li>
            </ul>
            <div class="col-sm-4" (click)="showPackageModal($event)" style="font-size:12px;color:#049cd4;cursor:pointer;">Browse All Dependencies</div>
          </div>
        </h2>
        <section style="padding: 5px 17px;">
          <div *ngIf="existDependencies?.length">
            <span *ngFor="let dependency of existDependencies" class="package-chip">{{dependency.package}}</span>
          </div>
          <div *ngIf="!existDependencies?.length" class="pre-loader">
            <div class="pre-loader-spinner spinner spinner-lg"></div>
          </div>
        </section>
        <div class="card-pf-body" *ngIf="dependencies?.length === 0">
          <section style="padding: 5px 17px;">
            <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification" style="display:inline-grid;">
                <span class="pficon pficon-add-circle-o" style="font-family:PatternFlyIcons-webfont;font-size:58px;color:#9c9c9c;text-align:center;"></span>
                <span style="padding-top:17px;">No Dependencies Added</span>
              </span>
            </p>
            <div style="padding-top:18px;text-align: center">
              <p>
                You can add dependencies either by searching or by going to 'choose dependencies' section by clicking 'View Dependency List'
              </p>
              <p>OR</p>
              <p>
                You can choose to add dependencies mentioned in the insights section.
              </p>
            </div>
          </section>
        </div>
        <section style="padding: 5px 17px;">
          <div class="card-pf-body" *ngIf="dependencies?.length" style="/*overflow-y: scroll;*/height: 289px;">
            <span *ngFor="let dependency of dependencies" class="package-chip a">{{dependency.name}}
              <button class="btn btn-default close" (click)="removeDependency(dependency)">
                <span class="pficon pficon-close"></span>
              </button>
            </span>
          </div>
        </section>
        <div class="card-pf-body" *ngIf="!dependencies">
          <div class="pre-loader">
            <div class="pre-loader-spinner spinner spinner-lg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal #PackagePreview modalClass="modal-lg modal-fullscreen modal-width-class" title="Choose Dependency" role="dialog">
  <modal-content class="contents">
    <div class="modal-body" style="margin-top: 5px;border: none;display: flex;">
      <div class="content">
        <div class="categories">
          <div class="card-pf card-pf-view catagories-card" [style.height.px]="categoriesHeight">
            <div class="card-pf-body">
              <div class="card-pf-items">
                <table class="tag-table">
                  <tr style="display: grid;">
                    <td class="tag-table-td-left">All
                      <label class="tag-table-td-label" style="float: right;">{{tagZero}}</label>
                    </td>
                    <td class="tag-table-td-left" *ngFor="let tags of categoryResult">{{tags.package[0].category}}
                      <label class="tag-table-td-label" style="float: right;">{{tags.count}}</label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dependencies">
        <div class="search-dependencies">
          <input class="search-box" type="text" placeholder="Search for Dependencies..">
          <span class="fa fa-search search-icon" aria-hidden="true" style="background-image:linear-gradient(-180deg, #fafafa 0%, #ededed 100%);border:1px solid #bbbbbb;width:36px;height:30px;left: 0px;top: 0px;padding-left: 8px;padding-top: 4px;"></span>
        </div>
        <div class="depn">
          <div class="depn-select">0 Dependencies selected
            <div class="display-dependencies" *ngFor="let dep of categoryResult">
              <div class="list-group list-view-pf" *ngFor="let package of dep.package; let master of masterTags; let i = index;">
                <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                  <div class="check">
                    <div class="list-view-pf-checkbox">
                      <input type="checkbox" style="position: relative;top: -8px;left: -1px;width: 15px;">
                    </div>
                  </div>
                  <div class="list-view-pf-actions">
                    <button class="btn btn-default check" (click)="addDependency(master)" style="background-image:linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);
                              border:1px solid #00659c;
                              box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);
                              border-radius:1px;
                              width:54px;
                              margin-top: 5px;">
                      Add
                    </button>
                  </div>
                  <div class="list-view-pf-main-info">
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          <label class="control control--checkbox">{{master.name}}
                            <!-- <input type="checkbox" [checked]="selectedPackages.has(dependency['name'])" (change)="isDependencySelected($event, dependency)"/>
                              <div class="control__indicator"></div> -->
                          </label>
                        </div>
                        <div class="list-group-item-text">
                          <!-- <p class="card-pf-info" style="font-family:OpenSans;font-size:12px;color:#949494;">{{dependency.description.substring(0, 1).toUpperCase() + dependency.description.substring(1)}}</p> -->
                        </div>
                        <div>
                          <div>
                            <div class="tag-border">{{package.category}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                          <div class="list-pf-item">
                            <label></label>
                          </div>
                          <span dropdown class="dropdown-position" style="/*margin-right:-20px*/">
                            <div style="/*border-radius: 2px;padding-left: 10px;padding-right: 10px;margin-left: -470px;*/cursor: pointer;position: relative;top: -20px;/*left: -90px*/;border-left: 1px solid #bbbbbb;">
                              <label href dropdownToggle (click)="false" class="dropbtn" style="padding-left: 3px;">
                                {{master.version}}
                                <span class="fa fa-angle-down" style="margin-left: 6px;">
                                </span>
                              </label>
                            </div>
                          </span>
                        </div>
                        <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-stacked">
                          <strong *ngIf="cveTemporaryData?.result[i]?.length">
                            <span class="pficon-warning-triangle-o"></span>
                          </strong>
                          <strong *ngIf="!cveTemporaryData?.result[i]?.length">
                            <span class="pficon-ok"></span>
                          </strong>
                          <span style="font-family:OpenSans;font-size:12px;color:#545b64;">Security</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-lg foot-button-confirm" style="background-image: linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);width: 94px;"
        (click)="closemodal()">Done</button>
      <button type="button" class="btn btn-default foot-button-edit" (click)="closemodal()" data-dismiss="modal" style="width: 94px;height: 30px;">Cancel</button>
    </div>
  </modal-content>
</modal>