<div class="card-pf" style="margin: 12px 0; background-color:#fff; box-shadow:0 1px 2px 0 rgba(0,0,0,0.30);height:194px;text-align: left;padding-top: 5px;position: relative;border-top: 0;padding-left: 28px;">
  <h2 class="card-pf-title">
    <span [ngClass]="issueSymbol"></span>
    <span>{{issueName}}</span>
  </h2>
  <h2 style="position: relative">
    <span class="card-pf-aggregate-status-count" style="color:#0088ce;" *ngIf="!isLoading">
      {{issueStatus}}
    </span>
    <div class="pre-loader" *ngIf="isLoading">
      <div class="pre-loader-spinner spinner spinner-lg"></div>
    </div>
  </h2>
  <div class="card-pf-body" *ngIf="!isLoading">
    <p class="card-pf-aggregate-status">
      <span class="card-pf-aggregate-status-notification">
        <a (click)="change()" class="links" style="font-size:12px">
          Click here to know more
        </a>
      </span>
    </p>
  </div>
  <span style="background-color:#f8a33a; padding: 12px 13px;color: #fff;position: absolute;top: 0;right: 0;height: 40px;width: 40px;"
    *ngIf="!isLoading && hasIssue !== 'na' && hasIssue">
    <i class="pficon-warning-triangle-o" aria-hidden="true" style="font-family:PatternFlyIcons-webfont;font-size:15px;color:#ffffff;"></i>
  </span>
  <span style="background-color:#6ba100; padding: 12px 13px;color: #fff;position: absolute;top: 0;right: 0;height: 40px;width: 40px;"
    *ngIf="!isLoading && hasIssue !== 'na' && !hasIssue">
    <i class="pficon-ok" aria-hidden="true" style="font-family:PatternFlyIcons-webfont;font-size:15px;color:#ffffff;"></i>
  </span>
</div>