<div class="container-default" style="background:#ededed;padding: 0 20px;max-width: 1000px">
  <div class="row" style="width: 100%;">
    <div style="margin-left:40px;">
      <span style="font-size:24px;">Dependency Editor </span>
      <button class="btn btn-default" style="background-image:linear-gradient(-180deg, #39a5dc 0%, #0088ce 100%);border:1px solid #00659c;box-shadow:0 2px 3px 0 rgba(3,3,3,0.10);border-radius:1px;width:78px;color:#fff;">Skip</button>
      <p>Some description of dependency editor</p>
    </div>
    <div class="row" style="margin-left:20px;">
      <div class="col-sm-7">
        <div class="row" style="margin-top:20px;">
          <app-add-dependency [dependencies]="dependenciesAdded" [dependencyAdded]="dependencyAdded" [existDependencies]="dependencies"></app-add-dependency>
          <app-insights (companionAdded)="callDepServices($event)" [companions]="companions" [alternate]="alternate"></app-insights>
        </div>
      </div>
      <div class="col-sm-5">
        <app-current-project [boosterInfo]="boosterInfo" [dependencies]="dependencies" [licenseData]="licenseData" [lisData]="lisData" [allLicenses]="allLicenses" [cveData]="cveData"></app-current-project>
      </div>
    </div>
    <div style="height:73px;">
      <button class="btn btn-info btn-lg continue">Continue</button>
      <button class="btn btn-info btn-lg cancel">Cancel</button>
    </div>
  </div>
</div>