<div class="container-default dependencyEditorComponent">
  <div class="row row-main">
    <div class="row-element col-xs-12">
      <h1 class="title">Select Dependencies</h1>
      <p id="description">Choose a mission and runtime to create a booster, or sample application, You set up a booster to generate source code
        and specifications for your new applications.</p>
    </div>
    <div class="row-defination col-xs-12">
      <div class="col-xs-7 dependencies-container">
        <div class="row row-inside">
          <app-add-dependency [boosterInfo]="boosterInfo" [dependencies]="dependenciesAdded" [dependencyAdded]="dependencyAdded" [existDependencies]="dependencies"></app-add-dependency>
          <app-insights (companionAdded)="callDepServices($event)" [companions]="companions" [alternate]="alternate"></app-insights>
        </div>
      </div>
      <div class="col-xs-5 padding-right-10 app-summary-container">
        <app-current-project [boosterInfo]="boosterInfo" [dependencies]="dependencies" [licenseData]="licenseData" [lisData]="lisData"
          [allLicenses]="allLicenses" [cveData]="cveData" (getMetadata)="getMetadata($event)"></app-current-project>
      </div>
    </div>
  </div>
</div>
