.dependencyEditorComponent {
    background: #ededed;
    .padding-right-10 {
        padding-right: 10px;
    }
    .row-main {
        .row-definition {
            display: flex;
            flex-direction: row;
            .dependencies-container {
                height: 915px;
                overflow-y: auto;
                overflow-x: hidden;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
                background: #fff;
                margin-bottom: 18px;
                flex: 2;
            }
            .app-summary-container {
                flex: 1;
            }
            .app-summary-container, .dependencies-container {
                align-items: stretch;
                height: 915px;
            }
        }
        .noDependency-label {
            border: 1px solid #bbb;
            padding: 30px;
            background-color: #f9f9f9;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .30);
            text-align: center;
            width: auto;
            margin-left: 20px;
            margin-right: 30px;
        }
    }
}
