<div class="dependency">
    <div class="application">
        <app-application [dependencies]="selectedDependencies" (deletePackages)= "handleDeletePackages($event)" [mygui]="guiAppName" [chatDependency]="onPicked"></app-application>
    </div>
    <div class="package">
        <app-packages (onPackageSelect)="handlePackageSelection($event)" [deletedDependencies]="deletedDependencies" [mygui]="guiAppName"></app-packages>
    </div>
    <chat-window
    (addDep)="onDependencyAdd($event)" *ngIf="false" [dependencies]="selectedDependencies" [mygui]="guiAppName" ></chat-window>
</div> 