<drawing-board [read]="read" (link)="handleLinks($event)" (dblclick)="handleDblClick($event)"></drawing-board>
<button (click)="handleSubmitFChart()" *ngIf="showFinalButton">Submit FlowChart</button>
<p *ngIf="doShowMessage" [innerHTML]="message"></p>
<div *ngIf="openModal" #previewArea class="preview-area col-xs-12">
    <!-- <tabset *ngIf="openModal" (click)="changeDeploymentConfig()"> -->
    <tabset *ngIf="openModal">
            <tab heading="Intent" id="tab1">
                <natural-language [input]="readInput" (onContainerEntry)="handleContainerEntry($event)" (submit)="handleModalInputSubmit($event)"></natural-language>
            </tab>
            <tab *ngIf="containerType !== ''" heading="Deployment Configuration" id="tab2">
                <tree-table [containerType]="containerType"></tree-table>
            </tab>
    </tabset>
</div>
<!--<modal #naturalLanguageModal title="Create your own stack" modalClass="modal-lg modal-fullscreen modal-width-class" (onClose)="handleModalClose();">
    <modal-header>
        {{modalHeader}}
    </modal-header>
    <modal-content>
        <natural-language></natural-language>
    </modal-content>
</modal>-->

