<div class="cards-pf">
  <div class="container-fluid container-cards-pf">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
      <div class="row">
        <div class="col-sm-12 heading fit">
          <div class="heading-name">
            <span>Application Summary</span>
          </div>
        </div>
        <div class="col-sm-12 fit">
          <h2 id="head-title" class="card-pf-title title">
            Runtime
          </h2>
          <div class="card-pf-body">
            <div class="card-pf-aggregate-status-notifications runtime">
              <p class="row row-runtime">
                <img class="col-sm-4 row-img" [src]="dom.bypassSecurityTrustUrl(boosterInfo?.runtime?.icon)">
                <span class="col-sm-8 runtime-name">{{ boosterInfo?.runtime?.name }}</span>
                <span class="col-sm-4"></span>
                <span class="col-sm-8 runtime-version">{{ boosterInfo?.runtime?.version }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 fit">
          <h2 #meta class="card-pf-title title">
            Metadata
          </h2>
          <div class="card-pf-body">
            <div class="card-pf-aggregate-status-notifications metadata">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-4 form-meta">Group id</label>
                  <div class="col-sm-8 meta-form-col">
                    <input class="form-control" type="text" value="io.openshift.booster" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 form-meta">Artifact id</label>
                  <div class="col-sm-8 meta-form-col">
                    <input class="form-control" type="text" value="vertx.http" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 form-meta">Version</label>
                  <div class="col-sm-8 meta-form-col">
                    <input class="form-control" type="text" value="1.0.0.SNAPSHOT" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 fit">
          <h2 class="card-pf-title title">
            Analytics Findings
          </h2>
          <app-security [cveData]="cveData"></app-security>
          <app-license [licenseData]="licenseData" [lisData]="lisData" [allLicenses]="allLicenses"></app-license>
        </div>
      </div>
    </div>
  </div>
</div>
