<div class=" alert-box">
  <div class=" alert-heading">
    <h2 class="alert-title">
      <span id="symbol" [class]="issueSymbol"></span><span id="font-opensans">{{title}}</span>
      <span class="if-security" *ngIf="itSecurity || secureIssue">
        <span id="security-status">{{issueStatus}}</span>
      </span>
      <span class="if-license" *ngIf="!itSecurity && !secureIssue" [style.color]="licolor">{{issueStatus}}</span>
      <span class="licenseType">{{issueType}}</span>
    </h2>
  </div>
  <div class="pre-loader" *ngIf="isLoading">
    <div class="pre-loader-spinner spinner spinner-lg"></div>
  </div>
  <div class="it-security" *ngIf="itSecurity">
    There are no security issues in your stack.
  </div>
  <div class="is-loading" *ngIf="!isLoading">
    <div class="list-group list-view-pf" *ngIf="secureIssue">
      <div class="list-group-item list-view-pf-stacked list-view-pf-top-align" *ngFor="let cve of cveId">
        <div class="list-view-pf-expand">
          <span class="fa fa-angle-right"></span>
        </div>
        <div class="list-view-pf-main-info">
          <div class="list-view-pf-body">
            <div class="list-view-pf-description">
              {{cve.id}}
            </div>
            <div class="list-view-pf-additional-info">
              {{cve.package}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="licenseIssue">
      <div class="row">
        <f8-chart id="chart" [data]="charts['data']" [chartOptions]="charts['options']" [configs]="charts['configs']"></f8-chart>
      </div>
    </div>
  </div>
  <span class="alert-sign" [style.background-color]="colored" *ngIf="!isLoading && hasIssue">
    <i class="pficon-warning-triangle-o" aria-hidden="true"></i>
  </span>
</div>
