<div class="natural-language">
    <textarea class="ma-textarea" [(ngModel)]="userInput"></textarea>
    <button class="btn btn-primary ma-button" (click)="processNaturalLanguage()" [disabled]="!userInput">Submit</button>
</div>

<div *ngIf="dependencies && dependencies.length > 0" class="dependencies-section">
    <div *ngFor="let dependency of dependencies" class="dependency col-xs-3">
        <span class="">{{dependency.name}}</span>
        <span class="fa fa-check"></span>
    </div>
    <button (click)="counter.push(1); addMore = true" *ngIf="dependencies && dependencies.length > 0" class="add-more col-xs-3">Add more</button>
    <div *ngIf="addMore" class="add-more-section col-xs-12">
        <input type="text" value="" [(ngModel)]="inputs[i]" *ngFor="let in of counter; let i = index;" />
        <button (click)="handleAddMore()">Add</button>
    </div>
</div>
